<table class="table">
  <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Product Name</th>
      <th scope="col">Seller</th>
      <th scope="col">Price</th>
      <th scope="col">Sold Qty</th>
      <th scope="col">In-Stock Qty</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each inventory}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.itemName}}</td>
      <td>{{this.itemSeller}}</td>
      <td>{{this.itemPrice}}</td>
      <td>{{this.itemSoldCount}}</td>
      <td>{{this.itemCount}}</td>
      <td><a href='/inventory/edit/{{this.id}}'><button class="btn-danger btn-small">Edit</button></a></button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/inventory">Home</a>