<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{inventory.itemImgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Thank you</h5>
    <p class="card-text">Product: {{inventory.itemName}}</p>
    <p class="card-text">Unit Price: ${{inventory.itemPrice}}</p>
    <p class="card-text">Qty: {{qtyItem}}</p>
    <p class="card-text">Total: ${{totalCost}}</p>
    <a href="/inventory" class="btn btn-primary">Home</a>
  </div>
</div>